<div class="flex justify-center w-full p-0">
    <div class="border border-white bg-white w-full shadow-lg mt-1 mb-1">
      <div class="flex items-center justify-between p-2">
        <img [src]="baseUrl + couponDetails.profileImageUrl" alt="Profile" class="w-12 h-12 rounded-full mt-2 ml-1">
        <div class="flex-grow ml-2 text-left">
          <div class="font-bold text-xl mt-2 text-black">{{couponDetails.username}}</div>
          <div class="text-sm text-gray-500">
            <ng-container *ngIf="isExpired; else notExpired">
              Expired
            </ng-container>
            <ng-template #notExpired>
              Expires in {{ remainingDays }} days and {{ remainingHours }} hours
            </ng-template>
          </div>
        </div>
        <button
          class="bg-primary text-white font-medium font-system-ui border-none px-3 py-1 rounded mt-2 mr-1 cursor-pointer">
          FOLLOW
        </button>
      </div>
  
      <div class="relative">
        <div class="relative overflow-hidden">
          <div #imageContainer class="flex transition-transform duration-300 ease-in-out"
            [style.transform]="'translateX(' + translateX + 'px)'">
            <div *ngFor="let image of couponDetails.imagePaths; let i = index" class="w-full flex-shrink-0">
              <img [src]="baseUrl + image" [alt]="'Product image ' + (i+1)" class="w-full object-contain h-96">
            </div>
          </div>
  
          <button *ngIf="couponDetails.imagePaths && couponDetails.imagePaths.length > 1 && currentImageIndex > 0"
            (click)="prevImage()"
            class="absolute left-2 top-1/2 transform -translate-y-1/2 bg-white bg-opacity-70 rounded-full p-2 cursor-pointer shadow-md">
            <fa-icon [icon]="faChevronLeft" class="text-black"></fa-icon>
          </button>
          <button
            *ngIf="couponDetails.imagePaths && couponDetails.imagePaths.length > 1 && currentImageIndex < couponDetails.imagePaths.length - 1"
            (click)="nextImage()"
            class="absolute right-2 top-1/2 transform -translate-y-1/2 bg-white bg-opacity-70 rounded-full p-2 cursor-pointer shadow-md">
            <fa-icon [icon]="faChevronRight" class="text-black"></fa-icon>
          </button>
        </div>
      </div>
      <div *ngIf="couponDetails.imagePaths && couponDetails.imagePaths.length > 1"
        class="mt-2 mb-2 bottom-4 left-0 right-0 flex justify-center">
        <div class="flex space-x-1">
          <div *ngFor="let image of couponDetails.imagePaths; let i = index" class="w-2 h-2 rounded-full cursor-pointer"
            [ngClass]="currentImageIndex === i ? 'bg-primary' : 'bg-gray-300 bg-opacity-60'" (click)="goToImage(i)">
          </div>
        </div>
      </div>
  
      <div class="max-w-80 m-auto">
        <div class="flex items-center justify-between p-1.5 border border-primary rounded-full bg-white mt-2 mb-5 mx-1">
          <input type="text" [value]="couponDetails.couponCode" readonly
            class="border-none font-poppins font-semibold text-lg bg-white text-gray-900 outline-none text-center">
          <button (click)="copyToClipboard(couponDetails.couponCode)"
            class="bg-primary border-none rounded-full text-white font-poppins font-semibold text-xl px-4 py-4 cursor-pointer">
            {{ copyButtonText }}
          </button>
        </div>
      </div>
  
      <div class="flex justify-between items-center m-4 mt-10">
        <div class="flex items-center space-x-4">
          <button (click)="likePost()"
            class="flex items-center cursor-pointer transition-transform duration-500 ease-in-out"
            [ngClass]="{'scale-125': showLikeAnimation}" aria-label="Like Post">
            <fa-icon [icon]="isLiked ? faThumbsUp : faThumbsUpOutline" class="fa-xl text-[#ff6251]"></fa-icon>
            <span class="text-black ml-1">{{ couponDetails.likes }}</span>
          </button>
          <button (click)="dislikePost()"
            class="flex items-center cursor-pointer transition-transform duration-500 ease-in-out"
            [ngClass]="{'scale-125': showDislikeAnimation}" aria-label="Dislike Post">
            <fa-icon [icon]="isDisliked ? faThumbsDown : faThumbsDownOutline" class="fa-xl text-[#ff6251]"></fa-icon>
            <span class="text-black ml-1">{{ couponDetails.dislikes }}</span>
          </button>
        </div>
        <div class="flex items-center space-x-4 ">
          <button (click)="sharePost()" class="group relative flex items-center cursor-pointer">
            <fa-icon 
              [icon]="faPaperPlane" 
              class="text-[#ffb43f] fa-xl group-hover:rotate-12 transition-transform duration-200">
            </fa-icon>
          </button>
          <div class="relative">
            <button (click)="savePost()" class="bg-transparent border-none flex items-center cursor-pointer">
              <fa-icon [icon]="isSaved ? solidBookmark : regularBookmark" class="fa-xl transition-all duration-300"
                [ngClass]="{
                        'text-[#ffb43f]': true,  
                        'scale-125': scaleAnimation,  
                        'scale-100': !scaleAnimation  
                      }">
              </fa-icon>
            </button>
          </div>
  
          <div class="flex items-center space-x-4 relative">
            <div class="flex items-center space-x-4 relative" #threeDotsWrapper>
              <button class="bg-none border-none flex items-center cursor-pointer" (click)="toggleReportButton()">
                <fa-icon [icon]="faEllipsisVertical" class="fa-xl text-black"></fa-icon>
              </button>
            
              <div *ngIf="showReportButton"
                   class="absolute right-0 bg-white border border-gray-300 rounded shadow-lg p-2 z-10"
                   [ngStyle]="getReportPopupStyle()">
                <button (click)="reportPost()" class="text-black font-bold py-2 px-2 rounded">Report</button>
              </div>
            </div>
            
            
            <div *ngIf="showReportSuccess" class="fixed inset-0 z-20 flex items-center ">
              <div class="fixed inset-0 bg-black opacity-50 z-10"></div>
              <div class="relative z-20 bg-white rounded-lg shadow-lg w-full max-w-xs ml-2 mr-1 text-center p-3">
                <p class="text-primary text-xl font-bold mb-3">Post reported successfully!</p>
                <div class="flex justify-center">
                  <button (click)="hideReportSuccess()" class="bg-primary text-white rounded-md px-4 py-2 font-semibold">
                    Done
                  </button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
  
      <button
        class="w-full px-2 py-1 text-lg font-bold bg-primary text-white border-none rounded-b-[4px] cursor-pointer text-center"
        (click)="showDetails(couponDetails.advertisementId)">
        Show Details →
      </button>
    </div>
    <app-pop-up *ngIf="showPopup" [messageTitle]="popupTitle" [messageBody]="popupBody" (close)="showPopup = false">
    </app-pop-up>
  </div>