.backdrop-blur {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 20; 
  background-color: rgba(169, 169, 169, 0.318) ; 
  opacity: 0;
  transition: opacity 0.5s ease-in-out;
}

.backdrop-blur-snow {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  /* background: rgba(62, 61, 61, 0.068);  */
  /* backdrop-filter: blur(12px);  */
  background-color: rgba(169, 169, 169, 0.318) ; 
  z-index: 20;
  opacity: 1;
  transition: opacity 0.5s ease-in-out;
}



.slide-up{
  position: fixed;
  bottom: -100%;
  left: 0;
  width: 100%;
  height: auto;
  background-color: white;
  color: black;
  padding: 1rem;
  text-align: center;
  transition: transform 0.5s ease-in-out;
  z-index: 30;
  padding-bottom: 0px;
  margin-bottom: 0px;
  bottom: 0px; 
  transform: translateY(100%); 
}

.slide-up-active {
  transform: translateY(0);
  /* bottom: 55px;  */
}

.slide-up-hidden {
  transform: translateY(100%);
  /* bottom: -100%;  */
}
