<div class="bg-white">
  <form class="flex justify-center">
    <div class="signup-form w-80 relative">
      <div class="flex items-center justify-start mt-10">
        <button class="text-gray-800" (click)="goBack()">
          <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" fill="none" viewBox="0 0 24 24" stroke="currentColor">
            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M15 19l-7-7 7-7" />
          </svg>
        </button>
        <span class="flex justify-center font-primary text-primary text-3xl ml-3">Start your journey</span>
      </div>
      <br>

      <div class="img-up">
        <img src="../../../assets/Imagess/image1.png" alt=""> 
      </div>
      <div class="button-up my-3">
        <div class="btn-container">
          <button class="btn btn-error btn-lg" (click)="navigatebusiness()">I am a Business</button> 
        </div>
      </div>

      <div class="img-down my-3 mt-10">
        <img src="../../../assets/Imagess/image2.png"> 
      </div>
      <div class="button-down">
        <div class="btn-container">
          <button class="btn btn-error btn-lg" (click)="navigateconsumer()">I am a Consumer</button>
        </div>
      </div>
    </div>
  </form>
</div>
