<div class="bg-white">
  <div class="flex items-center justify-start mt-5 ml-5">
    <button class="text-gray-800" (click)="goBack()">
      <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" fill="none" viewBox="0 0 24 24" stroke="currentColor">
        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M15 19l-7-7 7-7" />
      </svg>
    </button>
    <span class="flex justify-center font-primary text-primary text-3xl ml-5">More About You</span>
  </div>
  <form class="flex justify-center" [formGroup]="form" (ngSubmit)="registerUser()" style="display: flex; visibility: visible;">
    <div class="signup-form w-80 relative" style="display: block; visibility: visible;">
      
      <div class="aadhar-number mt-3">
        <label class="form-label pb-2 font-secondary">Aadhar Card Number :</label>
        <input
          type="text"
          class="input input-primary max-w-full"
          placeholder="Enter your 12-digit Aadhar Number"
          formControlName="aadharNumber"
        />
        <div class="form-text text-red-600" *ngIf="aadharNumber.invalid && (aadharNumber.dirty || aadharNumber.touched)">
          <span *ngIf="aadharNumber.errors?.['required']">Aadhar Number is required.</span>
          <span *ngIf="aadharNumber.errors?.['maxlength']">Aadhar Number cannot exceed 12 digits.</span>
          <span *ngIf="aadharNumber.errors?.['aadharFormat']">Aadhar format is invalid. Example: 123456789012.</span>
        </div>
      </div>
      <div class="pancard-number mt-3">
        <label class="form-label pb-2 font-secondary">PAN Card Number :</label>
        <input
          type="text"
          class="input input-primary max-w-full"
          placeholder="PAN Card Number"
          formControlName="pancardNumber"
        />
        <div class="form-text text-red-600" *ngIf="pancardNumber.invalid && (pancardNumber.dirty || pancardNumber.touched)">
          <span *ngIf="pancardNumber.errors?.['required']">PAN Card Number is required.</span>
          <span *ngIf="pancardNumber.errors?.['maxlength']">PAN Card Number cannot be more than 10 characters.</span>
          <span *ngIf="pancardNumber.errors?.['pancardFormat']">PAN Card format is invalid. Example: UJIKU3334R.</span>
        </div>
      </div>
      <div class="state mt-3">
        <label class="form-label pb-2 font-secondary">State :</label>
        <select class="input input-primary max-w-full" formControlName="state">
          <option value="" disabled selected>Select State</option>
          <option *ngFor="let state of stateData?.state" [value]="state?.name">{{ state?.name }}</option>
        </select>
        <div class="form-text text-red-600" *ngIf="state.invalid && (state.dirty || state.touched)">
          <span *ngIf="state.errors?.['required']">State is required.</span>
        </div>
      </div>
      <div class="city mt-3" *ngIf="stateData">
        <label class="form-label pb-2 font-secondary">City :</label>
        <select class="input input-primary max-w-full" formControlName="city">
          <option value="" disabled selected>Select City</option>
          <option *ngFor="let city of getCitiesByState(form.get('state')?.value)" [value]="city">{{ city }}</option>
        </select>
        <div class="form-text text-red-600" *ngIf="city.invalid && (city.dirty || city.touched)">
          <span *ngIf="city.errors?.['required']">City is required.</span>
        </div>
      </div>
      <div class="pincode mt-3">
        <label class="form-label pb-2 font-secondary">Pincode :</label>
        <input type="text" class="input input-primary max-w-full" placeholder="Pincode" formControlName="pincode" />
        <div class="form-text text-red-600" *ngIf="pincode.invalid && (pincode.dirty || pincode.touched)">
          <span *ngIf="pincode.errors?.['required']">Pincode is required.</span>
          <span *ngIf="pincode.errors?.['maxlength']">Pincode cannot be more than 6 characters.</span>
        </div>
      </div>
      <div class="bio mt-3">
        <label class="form-label pb-2 font-secondary">Bio :</label>
        <textarea class="input input-primary max-w-full resize-none h-24" placeholder="Enter your bio" formControlName="bio"></textarea>
        <div class="form-text text-red-600" *ngIf="bio.invalid && (bio.dirty || bio.touched)">
          <span *ngIf="bio.errors?.['required']">Bio is required.</span>
          <span *ngIf="bio.errors?.['maxlength']">Bio cannot be more than 80 words.</span>
        </div>
      </div>
      <div class="buttons flex justify-center mt-5">
        <button 
          type="submit" 
          [disabled]="form.invalid" 
          class="btn btn-primary btn-md font-secondary w-60">
          NEXT
        </button>
      </div>
    </div>
  </form>
</div>
