<div class="category-selector">
    <div class="title font-sans text-gray-800 text-sm">
      <label for="selector">Add Category *</label>
    </div>
    <select class="select w-[300px] h-[35px] mt-2 border border-gray-300 rounded-md p-2" [(ngModel)]="selectedCategory" (change)="onSelectCategory($event)" id="selector">
      <option value="" disabled hidden>Select an advertisement category</option>
      <option value="Post">Post</option>
      <option value="Coupon Code">Coupon Code</option>
      <option value="Event">Event</option>
    </select>
</div>
  