<div class="p-4">
  <header
    class="flex items-center pl-0 pr-4 py-4 mb-2"
    style="margin-top: 30px"
  >
    <button
      class="icon-btn"
      aria-label="Back"
      (click)="goBack()"
      style="
        font-size: 1.5rem;
        background: none;
        border: none;
        line-height: 1;
        padding: 0;
        cursor: pointer;
      "
    >
      <i class="ri-arrow-left-line"></i>
    </button>
    <span class="text-xl font-bold" style="color: #111">Settings</span>
  </header>

  <div class="mb-4">
    <h2 class="font-roboto text-gray-500 text-sm font-semi-bold mb-2">
      General Settings
    </h2>
    <div class="list-none">
      <a
        class="list-item justify-between items-center"
        (click)="navigateToProfileInformation()"
      >
        <span class="font-roboto text-black">Profile information</span>
        <i class="ri-arrow-right-s-line text-black ml-2"></i>
      </a>

      <!-- <a class="list-item flex justify-between items-center" [routerLink]="['/settings/password-management']">
        <span class="font-roboto text-black ">Password management</span>
        <i class="ri-arrow-right-s-line text-black ml-2"></i>
      </a> -->
    </div>
  </div>
</div>
