<app-category-selector></app-category-selector>
<form [formGroup]="eventFormDetails" (ngSubmit)="handleSubmit()">
    <div class="title font-roboto text-black text-base" style="margin-top: 15px; margin-left: 15px;">
        <label for="eventTitle">Event Title *</label>
    </div>
    <div class="input-container" style="margin-left: 15px;">
        <input formControlName="eventTitle" type="text" name="eventTitle" required class="title-input border border-pink-500 rounded-md p-2" placeholder="Add Event Title Here..." id="eventTitle">
        <div *ngIf="eventFormDetails.get('eventTitle')?.touched && eventFormDetails.get('eventTitle')?.invalid" class="text-red-500">
            Event Title is required.
        </div>
    </div>

    <app-image-selector></app-image-selector>
    
    <div class="title font-roboto text-black text-base" style="margin-top: 15px; margin-left: 15px;">
        <label for="eventDescription">Event Description*</label>
    </div>
    <div class="input-container" style="margin-left: 15px;">
        <textarea formControlName="description" name="eventDescription" required class="offer-details-input border border-pink-500 rounded-md p-2" placeholder="Describe more about the event you want to share with your customer." id="eventDescription"></textarea>
        <div *ngIf="eventFormDetails.get('description')?.touched && eventFormDetails.get('description')?.invalid" class="text-red-500">
            Event Description is required.
        </div>
    </div>

    <div class="title font-roboto text-black text-base" style="margin-top: 15px; margin-left: 15px;">
        <label for="eventDateAndTime">Event Start Date and Time*</label>
    </div>
    <div class="input-container" style="margin-left: 15px;">
        <input formControlName="eventDateAndTime" type="datetime-local" name="eventDateAndTime" required class="date-input border border-pink-500 rounded-md p-2" id="eventDateAndTime">
        <div *ngIf="eventFormDetails.get('eventDateAndTime')?.touched && eventFormDetails.get('eventDateAndTime')?.invalid" class="text-red-500">
            Event Start Date and Time is required.
        </div>
    </div>

    <div class="title font-roboto text-black text-base" style="margin-top: 15px; margin-left: 15px;">
        <label for="promoBadge">Promo Badge*</label>
    </div>
    <div class="input-container" style="margin-left: 15px;">
        <input formControlName="promoBadge" type="text" name="promoBadge" required class="title-input border border-pink-500 rounded-md p-2" placeholder="Add Promo Badge here..." id="promoBadge">
        <div *ngIf="eventFormDetails.get('promoBadge')?.touched && eventFormDetails.get('promoBadge')?.invalid" class="text-red-500">
            Promo Badge is required.
        </div>
    </div>

    <div class="title font-roboto text-black text-base" style="margin-top: 15px; margin-left: 15px;">
        <label for="expiryDate">Expiry Date*</label>
    </div>
    <div class="input-container" style="margin-left: 15px;">
        <input formControlName="expiry" type="datetime-local" name="expiryDate" required class="title-input border border-pink-500 rounded-md p-2" id="expiryDate">
        <div *ngIf="eventFormDetails.get('expiry')?.touched && eventFormDetails.get('expiry')?.invalid" class="text-red-500">
            Expiry Date is required.
        </div>
    </div>

    <div class="title font-roboto text-black text-base" style="margin-top: 15px; margin-left: 15px;">
        <label for="bookingUrl">Booking URL*</label>
    </div>
    <div class="input-container" style="margin-left: 15px;">
        <input formControlName="bookingUrl" type="text" name="bookingUrl" required class="title-input border border-pink-500 rounded-md p-2" placeholder="Enter Booking URL" id="bookingUrl">
        <div *ngIf="eventFormDetails.get('bookingUrl')?.touched && eventFormDetails.get('bookingUrl')?.invalid" class="text-red-500">
            Booking URL is required.
        </div>
    </div>

    <div class="title font-roboto text-black text-base" style="margin-top: 15px; margin-left: 15px;">
        <label for="termsConditions">Terms & Conditions*</label>
    </div>
    <div class="input-container" style="margin-left: 15px;">
        <textarea formControlName="termsAndConditions" #termsTextarea name="termsConditions" required class="terms-input border border-pink-500 rounded-md p-2" placeholder="Enter terms and conditions" id="termsConditions" (keydown)="addBulletPointOnEnter($event, termsTextarea)" (focus)="addBulletPointOnFocus(termsTextarea)" ></textarea>
        <div *ngIf="eventFormDetails.get('termsAndConditions')?.touched && eventFormDetails.get('termsAndConditions')?.invalid" class="text-red-500">
            Terms & Conditions are required.
        </div>
    </div>

    <div class="title font-roboto text-black text-base" style="margin-top: 15px; margin-left: 15px;">
        <label for="steps">Steps To Avail Offer*</label>
    </div>
    <div class="input-container" style="margin-left: 15px;">
        <textarea formControlName="stepsToAvailOffer" #howToRedeemTextarea name="stepsToAvailOffer" required class="terms-input border border-pink-500 rounded-md p-2" placeholder="Enter instructions" id="stepsToAvailOffer" (keydown)="addBulletPointOnEnter($event, howToRedeemTextarea)" (focus)="addBulletPointOnFocus(howToRedeemTextarea)" ></textarea>
        <div *ngIf="eventFormDetails.get('stepsToAvailOffer')?.touched && eventFormDetails.get('stepsToAvailOffer')?.invalid" class="text-red-500">
            Steps to avail the offer are required.
        </div>
    </div>

    <div class="buttons-container" style="margin-left: 39px; margin-top: 15px;">
        <button type="button" class="reset-button">RESET DETAILS</button>
        <button type="submit" class="post-button">POST</button>
    </div>
</form>
